@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Afacad", sans-serif;

}

.navbar {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(13, 13, 13);
    /* background-color: beige; */
}

.navbar nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F3F2F1;
    padding: 10px;
    gap: 200px;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    width: 500px;
    /* border: 2px solid red; */
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar nav ul li a {
    text-decoration: none;
    color: black;
    transition: .3s linear;
    padding: 20px;

}

.navbar nav ul li a:hover {
    color: gray;
    transition: .3s linear;
}

.navbar button {
    padding: 10px 20px;
    background-color: black;
    color: aliceblue;
    border-radius: 200px;
    border: none;
    justify-content: space-evenly;
}

.navbar button:hover {
    background-color: gray;
    transition: 2.s;
    border-radius: 30px;
    display: flex;
}

.cointer {
    width: 100%;
    height: 100vh;
    /* border:  4px solid red; */
    background-image: url(imgi_19_slider-1.jpg);
    background-size: cover;
    color: rgb(4, 4, 4);
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 10px 20px;
    text-align: center;
    /* position: relative; */
    gap: 30px;
    flex-direction: column;
}

.left {
    width: 450px;
    height: 450px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    gap: 50px;
}

.cointer button {
    padding: 20px 50px;
    background-color: black;
    color: aliceblue;
    border-radius: 2000px;
    border: none;
    justify-content: space-evenly;
    transition: .2s;
}

.cointer button:hover {
    transition: .2s;
    background-color: gray;
    border-radius: 30px;
    display: flex;
}

.cointer h1 {
    font-size: 80px;
}

.cointer p {
    font-size: 40px;
}

.cointer button {
    font-size: 20px;
}

.navbar nav ul li a {
    font-size: 20px;
}

.navbar button {
    font-size: 20px;
}

.navbar h1 {
    font-size: 45px;
}

.data {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.first-section {
    padding: 30px 40px;
    display: flex;
}

.first-section nav p1:hover {
    color: red;
}

.first-section nav p2:hover {
    color: red;
}

.first-section nav p3:hover {
    color: red;
}

.data h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.first-section nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: white;
    padding: 10px 600px;
    gap: 10px;
    /* flex-direction: column; */
}

.first-section nav p1 {
    padding: 20px 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.first-section nav p2 {
    padding: 20px 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.first-section p3 {
    padding: 20px 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.first-section p1:hover {
    color: red;
}

.first-section p2:hover {
    color: red;
}

.first-section p3:hover {
    color: red;
}

.card {
    width: 400px;
    /* height: 100vh; */
    /* border: 5px solid red; */
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.card h1 {
    margin-top: 20px;

}

.hh h2 {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 7px;
    font-size: 50px;
}

.card img {
    width: 100%;
    display: flex;

}

.card {
    padding: 20px 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
}

.not-section {
    width: 100% !important;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 100px;
}


.not-section h1:hover {
    color: red;
    transition: .5s;

}

.last-section h1:hover {
    color: red;
    transition: .5s;
}

.no-section h1:hover {
    color: red;
    transition: .5s;
}

.no-section h1 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.not-section p1 {
    padding: 30px 10px;
    display: flex;
}

.card {
    width: 25% !important;
    /* height: 100vh; */
    /* border: 5px solid red; */
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.card h1 {
    margin-top: 20px;
    display: flex;

}

.hh h2 {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 7px;
    font-size: 50px;
}

.card img {
    width: 100%;
    display: flex;
}


.not-section .card {
    width: 400px;
    /* height: 100vh; */
    /* border: 5px solid red; */
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.not-section.card h1 {
    margin-top: 20px;

}

.not-section h2 {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 7px;
    font-size: 50px;
}

.not-section .card img {
    width: 100%;
    display: flex;

}

.not-section {
    width: 80%;
    /* height: 100vh; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 100px;
}

.nachiket h1 {
    font-size: 40px;
    display: flex;

}

.nachiket h1 {
    margin-top: 20px;
}

.yes-section .card {
    width: 400px;
    /* height: 100vh; */
    /* border: 5px solid red; */
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}



.review-sec {
    width: 100%;
    /* border: 4px solid red; */
    padding: 100px 0;
}

.review-sec h1 {
    font-family: Afacad;
    font-weight: normal;
}

.review-data {
    width: 95%;
    /* border: 4px solid blue; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.review-card {
    width: 30%;
    border: 2px solid rgba(0, 0, 0, 0.228);

    padding: 30px;
}

.r-up {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.r-up h3 {
    font-size: 25px;
}

.r-up p {
    font-size: 20px;
}

.fa-star {
    color: gold;
    font-size: 16px;
}

.r-down {
    margin-top: 40px;
    display: flex;
    padding-top: 20px;
    border-top: 2px solid rgba(0, 0, 0, 0.228);
}

.rd-left img {
    width: 85px;
}

.rd-right {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;
}

.footer {
    width: 100%;
    height: 50vh;
    /* border: 5px solid red; */
    align-items: start;
    /* justify-content: center; */
    background-color: rgba(252, 252, 247, 0.457);
    color: black;
    /* padding: 20px; */
}

.header-card {
    width: 25%;

    align-items: start;
    gap: 20px;
}

.header-card p {
    height: 25px;
    font-size: 20px;
}

.header-card h4 {
    padding: 20px;
    align-items: start;
}

.footer-card {
    width: 25%;
    margin-top: 10px;
}

.footer h4 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer-card h4{
    padding: 10px;
}
.footer-card p{
    height: 25px;
    font-size: 20px;
}
.header{
    width: 25%;
    font-size: 20px;
    align-items: start;
    gap: 20px;
}

.header p {
    height: 25px;
    font-size: 20px;
     gap: 40px;
     
    
}

.header h4 {
    padding: 20px;
    align-items: start;
}
.sa-bar {
width: 25%;

    display: flex;
    flex-direction: column;
    align-self: start;
}
.sa-bar h4{
    padding: 20px;
    align-items: start;
}
.sa-bar p{
    
    font-size: 20px;
     gap: 40px;
     
}

.so-card{
    display: flex;
   align-items: start;
   justify-content: center;
   
}
.so-card  button {
    padding: 10px 20px;
    background-color: #0a0a0a;
    color: rgba(235, 228, 228, 0.925);
    border:  none;
    border-radius: 200px;
   
}
.footer p:hover {
color: red;
transition: .5s;
}
.up-right {
    color: black!important;
    background-color: rgba(175, 189, 202, 0.568) !important;
    padding: 30px;
    
}
.sa-bar button:hover{
    background-color: grey;
    transition: .5s;
}
.footer-card {
    gap :30px;
    display: flex;
    flex-direction: column;
}

.header-card {
    gap :30px;
    display: flex;
    flex-direction: column;
     padding: 20px;

}
.header-card p{
    gap: 20px;
    display: flex;
}

.header{
    gap :30px;
    display: flex;
    flex-direction: column;
}
.so-card {
    gap :20px;
    display: flex;
    /* flex-direction: column; */
}
.header-card img{
    width: 30px;
    object-fit: contain;
}
.image img{

 width: 40px;
 gap: 20px;
 /* display: flex; */
 flex-direction: row;
}